<div id="steps">
  <p id="title">STEPS</p>
  @for (step of steps(); track step.id) {
    @if (step.class === 'header') {
      <p class="step-header">{{ step.step }}</p>
    } @else if (step.class === 'result') {
      <p class="step-result">{{ step.step }}</p>
    } @else {
      <p class="step-regular">{{ step.id + '. ' + step.step }}</p>
    }
  }
  <p class="instructions">Plug n' chug! Expressions in parentheses are calculated first,
    then expressions with unary operators, then the rest from left to right.
    Please note that while intersection and union are commutative operations,
    difference and cartesian product are not, so add parentheses if needed.
  </p>

  <p class="instructions"><span class="bold">NEW!</span> Hover over set inputs (A, B, C) to see their cardinality.</p>
</div>
