<div>
  <a routerLink="calculator" routerLinkActive="selected">
    SET THEORY CALCULATOR
  </a>
  <a routerLink="binary-relations" routerLinkActive="selected">
    BINARY RELATIONS
  </a>
</div>

<router-outlet/>

<!--
<div>
  <button
    (click)="showSelectedTab('basics')"
    [class.selected-tab]="selectedTab === 'basics'">
    SET THEORY CALCULATOR
  </button>
  <button
    (click)="showSelectedTab('binary')"
    [class.selected-tab]="selectedTab === 'binary'">
    BINARY RELATIONS
  </button>
</div>

@if (selectedTab === "basics") {
  <app-basics/>
} @else if (selectedTab === "binary") {
  <app-binary/>
}
-->
