div {
  font-size: 1rem;
  max-width: 15rem;
  margin-bottom: 0.7em;
}

#set {
  font-variant: small-caps;
}

input {
  border: none;
  border-bottom: 1px solid gray;
}

p {
  margin-top: 1rem;
  font-size: 0.9rem;
}


