@if (tableData().length !== 0) {
  <div>
    @if (onSetRelation()) {
      <p class="let">Let R be a binary relation on the set X.</p>
      <div class="property">
        <p class="header">REFLEXIVITY</p>
        <span class="propertyDesc">This binary relation
          @if (properties()[0]) {IS}
          @else {IS NOT}
          reflexive. R is reflexive iff, for each x ∈ X, xRx.
      </span>
        <span class="table-desc"> Table: Each cell in its main diagonal has a plus.</span>
      </div>
      <div class="property">
        <p class="header">IRREFLEXIVITY</p>
        <span class="propertyDesc">This binary relation
          @if (properties()[1]) {IS}
          @else {IS NOT}
          irreflexive. R is irreflexive iff, for no x ∈ X, xRx.
      </span>
        <span class="table-desc"> Table: Each cell in its main diagonal has a minus.</span>
      </div>
      <div class="property">
        <p class="header">SYMMETRY</p>
        <span class="propertyDesc">This binary relation
          @if (properties()[2]) {IS}
          @else {IS NOT}
          symmetric. R is symmetric iff, for each x, y ∈ X, if xRy, then yRx.
      </span>
        <span class="table-desc"> Table: If you fold it along the main diagonal,
       the cells that coincide will have the same sign.</span>
      </div>
      <div class="property">
        <p class="header">ASYMMETRY</p>
        <span class="propertyDesc">This binary relation
          @if (properties()[3]) {IS}
          @else {IS NOT}
          asymmetric. R is asymmetric iff, for each x, y ∈ X,
       if xRy then it is not the case that yRx.
      </span>
        <span class="table-desc"> Table: If you fold it along the main diagonal,
       the cells that coincide will have different signs (and the main diagonal is all minuses).</span>
      </div>
      <div class="property">
        <p class="header">ANTISYMMETRY</p>
        <span class="propertyDesc">This binary relation
          @if (properties()[4]) {IS}
          @else {IS NOT}
          antisymmetric. R is antisymmetric iff, for each x, y ∈ X,
       if xRy and yRx, then x = y.
      </span>
        <span class="table-desc"> Table: If you fold it along the main diagonal,
       the cells that coincide will have different signs (but the main diagonal
       can have pluses, unlike asymmetric relations).</span>
      </div>
      <div class="property">
        <p class="header">TRANSITIVITY</p>
        <span class="propertyDesc">This binary relation
          @if (properties()[5]) {IS}
          @else {IS NOT}
          transitive. R is transitive iff, for each x, y, z ∈ X,
       if xRy and yRz, then xRz.
      </span>
      </div>
      <div class="property">
        <p class="header">INTRANSITIVITY</p>
        <span class="propertyDesc">This binary relation
          @if (properties()[5]) {IS}
          @else {IS NOT}
          intransitive. R is intransitive iff, for each x, y, z ∈ X,
       if xRy and yRz, then it is not the case that xRz.
      </span>
      </div>
      <div class="property">
        <p class="header">STRICT ORDER</p>
        <span class="propertyDesc">This binary relation
          @if (properties()[5]) {IS}
          @else {IS NOT}
          a strict order. R is a strict order on X iff R
       is both asymmetric and transitive on X.
      </span>
      </div>
      <div class="property">
        <p class="header">PARTIAL ORDER</p>
        <span class="propertyDesc">This binary relation
          @if (properties()[5]) {IS}
          @else {IS NOT}
          a partial order. R is a partial order on X iff R
       is reflexive, antisymmetric, and transitive on X.
      </span>
      </div>
    } @else {
      <p class="let">Let R be a binary relation from the set X to the set Y.</p>
      <div class="property">
        <p class="header">LEFT TOTALITY</p>
        <span class="propertyDesc">This binary relation
          @if (properties()[0]) {IS}
          @else {IS NOT}
          left total. R is left total iff,for each x ∈ X,
          there is a y ∈ X, such that xRy.
      </span>
        <span class="table-desc"> Table: Each of its rows has a plus.</span>
      </div>
      <div class="property">
        <p class="header">RIGHT TOTALITY</p>
        <span class="propertyDesc">This binary relation
          @if (properties()[0]) {IS}
          @else {IS NOT}
          right total. R is right total iff, for each y ∈ Y,
          there is a x ∈ X, such that xRy.
      </span>
        <span class="table-desc"> Table: Each of its columns has a plus.</span>
      </div>
      <div class="property">
        <p class="header">LEFT MONOGAMY</p>
        <span class="propertyDesc">This binary relation
          @if (properties()[0]) {IS}
          @else {IS NOT}
          left monogamous. R is left monogamous iff,
          for each x ∈ X and each y, z ∈ Y, if xRy and xRy, then y = z.
      </span>
        <span class="table-desc"> Table: No row has more than one plus.</span>
      </div>
      <div class="property">
        <p class="header">RIGHT MONOGAMY</p>
        <span class="propertyDesc">This binary relation
          @if (properties()[0]) {IS}
          @else {IS NOT}
          right monogamous. R is right monogamous iff,
          for each x, z ∈ X and each y ∈ Y, if xRy and zRy, then x = z.
      </span>
        <span class="table-desc"> Table: No column has more than one plus.</span>
      </div>
    }
  </div>
}

