app-div {
  align-items: center;
  margin-top: 4rem;
}

input {
  font-size: 1.1em;
  min-height: 1.6rem;
  width: 28rem;
  border-radius: 0.3rem;
  border: 1px solid gray;
}

#setsBtns {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  gap: 2.2rem;
}

.instructions {
  margin-bottom: 0.5rem;
}

@media (max-width: 400px) {
  input {
    width: 22rem;
  }
}
