body {
  background-color: #eee;
  font-family: Roboto, sans-serif;
  margin: 0;
}

#title {
  text-align: center;
  font-size: 1.2rem;
}

.instructions {
  font-size: 0.9rem;
  text-align: center;
  margin: 0 0 0.7rem;
}
